<h1><%= t(:new_status) %></h1>
<%= form_for @product_status, :url => { :action => :create, :controller => 'product_statuses' } do |form| %>
  <table class="basic-table">
    <%= render :partial => "form", :locals => { :f => form } %>
  </table>
  <p class="form-buttons">
    <%= button t("update") %>
    <%= t('or') %> <%= link_to t("cancel"), admin_product_product_statuses_url(@product), :id => "cancel_link" %>
  </p>
<% end %>